<html>
<head>
<title>
	Project
</title>
</head>

<body>
	<form action="detail" method="post">
		Pregnancies:<input type="text" name="v1"><br><br>
		Glucose:<input type="text" name="v2"><br><br>
		BloodPressure:<input type="text" name="v3"><br><br>
		Skinthickness:<input type="text" name="v4"><br><br>
		Insulin:<input type="text" name="v5"><br><br>
		BMI:<input type="text" name="v6"><br><br>
		DiabetesPedigreeFunction:<input type="text" name="v7"><br><br>
		Age:<input type="text" name="v8"><br><br>
		<input type="submit">
		{{result}}
	</form>

</body>
</html>